<header id="header">
    <nav class="md:px-10 p-5 shadow-lg bg-secondary-500 flex justify-between items-center  w-full ">
        <div class="flex justify-center items-center z-10">
            <a class="  rounded-full text-white font-bold text-2xl align-middle h-full" asp-controller="Home"
                asp-action="Index">Nyneo</a>
        </div>

        @if (User?.Identity?.IsAuthenticated ?? false)
        {

            <a class="text-white thirdButton " asp-controller="Operations" asp-action="Logout">Logout</a>


        }
        else
        {
            @* <div class="flex gap-2 ">
                <a class="text-white thirdButton px-6 py-2 rounded-lg" asp-controller="Operations"
                asp-action="Login">Login</a>

                <a class="text-white thirdButtonOutline px-6 py-2 rounded-lg" asp-controller="Operations"
                asp-action="Register">Register</a>
                </div> *@

            <div class="flex">


                <button id="hamburger-button"
                class="group  flex overflow-hidden z-10 justify-center items-center w-8 h-8  gap-2 rounded relative">
                    <span class="hamburger-bar absolute top-[0.5rem]   w-full h-[0.15rem] bg-white  "></span>
                    <span class="hamburger-bar absolute w-full h-[0.15rem] bg-white  "></span>
                    <span class="hamburger-bar absolute top-[1.35rem]  w-full h-[0.15rem] bg-white  "></span>
                    <span
                    class="hamburger-bar absolute top-[0.5rem]  -translate-x-10   w-full h-[0.15rem] bg-white  "></span>
                    <span class="hamburger-bar absolute w-full  -translate-x-10 h-[0.15rem] bg-white  "></span>
                    <span
                    class="hamburger-bar absolute  top-[1.35rem] -translate-x-10  w-full h-[0.15rem] bg-white  "></span>
                </button>

                <div id="navMenu"
                class="absolute top-0 left-0 right-0 bottom-0 clip transition-all duration-500 ease-in-out  bg-secondary-500  flex justify-center items-start">
                    <ul class="mt-40 flex flex-col items-center gap-20 absolute w-48 h-80">
                        <li class=" w-full text-center "><a
                            class="uppercase  text-2xl  text-white font-normal tracking-wider ">HOME</a>
                        </li>
                        <li class="   w-full text-center"><a
                            class="uppercase  text-2xl text-white font-normal tracking-wider" href="#">ABOUT</a>
                        </li>
                        <li class="   w-full text-center"><a
                            class="uppercase  text-2xl text-white font-normal tracking-wider" href="#">pricing</a>
                        </li>
                        <li class="   w-full text-center"><a
                            class="uppercase  text-2xl text-white font-normal tracking-wider" href="#">feedback</a>
                        </li>




                    </ul>
                </div>
            </div>
        }
    </nav>
</header>