@model Role
<form asp-action="AddRole" class="text-titleText grid  grid-cols-2 grid-rows-6 w-fit gap-x-32" method="post">


    <div>
        <label for="name">Name:</label>
        <input name="name" />
    </div>

    <button type="submit" class=" w-full py-2 col-span-2 text-lg  font-bold bg-primary">Add</button>

</form>