@model CreateDiary
<section id="createDiary">
    <div class="md:container mx-auto md:p-5 mt-2 min-h-screen">


        <form asp-action="CreateDiary" class="text-titleText px-5 " method="post">

            @* Title *@
            <div class="md:mb-7 ">
                <input placeholder="Title" asp-for=@Model.title
                    class="md:w-1/3 w-full font-bold text-gray-700 text-3xl  bg-transparent     focus:outline-none " />
                <span asp-validation-for=@Model.title class="text-red-700"></span>
            </div>


            @* Content *@
            <div class="md:mb-7 ">
                <textarea rows="10" asp-for=@Model.content
                    class="md:w-1/3 bg-transparent   w-full  focus:outline-none "></textarea>
                <span asp-validation-for=@Model.content class="text-red-700"></span>

            </div>

            @* Userid *@
            <div class="md:mb-7 hidden">
                <input asp-for=@Model.userId class="md:w-1/3 " />
            </div>

            <button type="submit"
                class="md:w-1/3 py-3 mt-5 w-full text-lg rounded-lg text-white font-bold bg-primary">Add</button>

        </form>
    </div>
</section>