@{
    ViewData["Title"] = "Home Page";
}


<section>

    <div class="flex flex-col gap-2 container mx-auto min-h-full">
        <a asp-action="CreateDiary" asp-controller="Diary" class="">Add Diary</a>
        <a asp-controller="Operations" asp-action="Register" class="">Register</a>
        <a asp-action="List" class="">Diaries</a>
        @* <a asp-controller="Operations" asp-action="AddRole" class="">Add Role</a> *@
        @* <a asp-controller="Operations" asp-action="Authenticated" class="">Authen</a> *@
    </div>
</section>
