@{
    ViewData["Title"] = "Home Page";
}



<a asp-action="CreateDiary" class="">Add</a>
<a asp-controller="Operations" asp-action="Register" class="">Register</a>
<a asp-action="List" class="">Diaries</a>
<a asp-controller="Operations" asp-action="AddRole" class="">Add Role</a>
<a asp-controller="Operations" asp-action="Authenticated" class="">Authen</a>
