@model IEnumerable<IndexDiaryVM>


<section id="diaries">
    <div class="container mx-auto flex justify-center ">
        <div class="flex flex-col md:w-2/5 w-full md:px-2  gap-5 items-center py-5">
            <a asp-controller="Home" asp-action="CreateDiary" class="p-3 rounded-full text-white bg-primary "><svg
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
            </a>
            @foreach (var item in Model)
            {
                <div class="text-center  w-full min-h-60 bg-white  p-5 rounded-lg md:shadow-xl ">

                    @* Upper *@

                    <div class="flex justify-between">
                        @* Left *@
                        <div class="flex gap-2 items-center mb-5">

                            @* Avt *@
                            <div class=" px-4 py-2 flex justify-start items-center bg-primary rounded-full">
                                <span class="text-lg font-bold">@item?.userName?.Substring(0,1).ToUpper()</span>
                            </div>

                            @* Name *@
                            <div class="flex flex-col ">
                                <span class="font-bold text-medium text-gray-700">@item.userName</span>
                                <span
                                class="text-sm text-left font-normal text-gray-500 ">@item.created_at.ToShortDateString()</span>
                            </div>

                        </div>
                        @* Left *@

                        @* Right *@
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                            </svg>
                        </div>
                        @* Right *@
                    </div>
                    @* Upper *@


                    <div class="  text-left">
                        <h1 class="text-lg font-bold text-gray-700">@item.title</h1>
                        <h2 class="font-normal">@item.content</h2>
                    </div>

                </div>
            }
        </div>
    </div>
</section>