@model Nyneo_Web.ViewModel.UpdateDiaryVM
<section id="updateDiary">
    <div class="md:container mx-auto md:p-5 mt-2 min-h-screen">


        <form asp-action="UpdateDiary" asp-controller="Diary" class="text-titleText px-5 "
            enctype="multipart/form-data">

            @* Title *@
            <div class="md:mb-7 ">
                <input placeholder="Title" asp-for=@Model.title value=@Model.title
                    class="md:w-1/3 w-full font-bold text-gray-700 text-3xl  bg-transparent focus:outline-none " />
                <span asp-validation-for=@Model.title class="text-red-700"></span>
            </div>


            @* Content *@
            <div class="md:mb-7 ">
                <textarea rows="10" asp-for=@Model.content
                    class="md:w-1/3 bg-transparent   w-full    focus:outline-none ">@Model.content</textarea>
                <span asp-validation-for=@Model.content class="text-red-700"></span>

            </div>

            @* Userid *@
            <div class="md:mb-7 hidden">
                <input asp-for=@Model.userId class="md:w-1/3 " />
            </div>

            @* Show img *@
            <div class="md:mb-7 ">
                <img src=@Model.signedUrl />
            </div>

            <div class="md:mb-7 ">
                <label asp-for=@Model.ImgFile></label>
                <input asp-for=@Model.ImgFile
                    class="md:w-1/3 w-full font-bold text-gray-700 text-3xl  bg-transparent focus:outline-none " />
                <span asp-validation-for=@Model.ImgFile class="text-red-700"></span>
            </div>


            @* SavedImgName to update *@
            <div class="md:mb-7 hidden">
                <input asp-for=@Model.savedImgName class="md:w-1/3 " />
            </div>

            @* Id to reference to update*@
            <div class="md:mb-7 hidden">
                <input asp-for=@Model.id class="md:w-1/3 " />
            </div>

            <button type="submit"
                class="md:w-1/3 py-3 mt-5 w-full text-lg rounded-lg text-white font-bold bg-primary">Update</button>

        </form>
    </div>
</section>